<div class="text-center">
<h1>New Task</h1>
	<% simple_form_for @task do |f| %>
	  <%= f.input :name %>
	  <%= f.simple_fields_for :pets do |p| %>
	    <% p.input :name %>
	  <% end %>
	<% end %>
	<p>Already have an account?<p> <a href="/login">Log in here</a>
</div><

