<div class="row">  
	  <div class="container graphic-container text-center">
	    <h2>Today's Task Progress</h2>
	    <div data-row="<%= tasks.to_json %>" id="chart"></div>
	  </div>
	  <% tasks.each_with_index do |task, index| %>
		    <div class="data-div" data-row="<%= task.to_json %>" id="index<%= index %>"></div>
	  <% end %>
</div>



