<div class="row">  
	  <div class="container graphic-container text-center">
	    <h2>Last Thirty Days</h2>
	    <div data-row="<%= data.to_json %>" id="chart"></div>
	  </div>
	  <% data.each_with_index do |object, index| %>
	  	<div class="container graphic-container text-center">
		    <div class="data-div" data-row="<%= object.to_json %>" id="index<%= index %>"></div>
		</div>
	  <% end %>
</div>

	




