/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed');

body{
	background-color: white;
	color: black;
}

div.task-container{
	border: 2px solid white;
	border-radius: 8px;
}

div.jumbotron{
	border: 2px solid white;
	border-radius: 8px;
}

input, textarea, select{
	color: black;
}

div#due-date{
	visibility: hidden;
}

h2{
	color: red;
}
h1{
	font-family: 'Roboto Condensed', sans-serif;
	color: red;
}

h1 span.tasks{
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	color: #84d2ff;
}

h1 span.username{
	font-size: 42px;
	text-transform: capitalize;
	color: #34a9ed;
	letter-spacing: 2px;
}

.nav-bar > li{
	float: left;
}


