/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed');

body{
	background-color: white;
	color: black;
}

div.task-container{
	margin: 10px;
	border: 2px solid #dbe8ff;
	border-radius: 8px;
}

div.jumbotron{
	margin: 10px;
	border: 2px solid #dbe8ff;
	border-radius: 8px;
}

input, textarea, select{
	color: black;
}

div#due-date{
	visibility: hidden;
}

h2{
	color: #34a9ed;
	font-size: 40px;
	text-transform: uppercase;
}
h1{
	font-family: 'Roboto Condensed', sans-serif;
}

h1 span.tasks{
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	color: #34a9ed;
}

h1 span.username{
	font-size: 70px;
	text-transform: capitalize;
	color: #34a9ed;
	letter-spacing: 2px;
}

h1 span.tasks, h1 span.username{

}

.nav-bar > li{
	float: left;
}

p.due-date{
	font-size: 20px;
	color: #aaaaaa;
	font-family: 'Roboto Condensed', sans-serif;
}

p.completion-info{
	font-size: 20px;
	color: #aaaaaa;
	font-family: 'Roboto Condensed', sans-serif;
}

form.slider{
	display: none;
	z-index: 999;
	position: absolute;
}

form.slider input.submit-slide{
	border:none;
	background-color: white;
	border: .1px solid grey;
	border-radius: 3px;
}

div.task-container{
	padding-bottom: 45px;
}

span.range{
	color: #aaaaaa;
	font-family: 'Roboto Condensed', sans-serif;
}

h2.done{
  text-decoration: line-through;
  opacity: 0.6;
}

p.done{
  text-decoration: line-through;
  opacity: 0.6;
}

a.show-slide{
	font-size: 30px;
	cursor: pointer;
}

a.show-slide:hover {
	color: red;
	text-decoration: none;
}

