<!DOCTYPE html>
<html>
  <head>
    <script src="http://brangerbriz.net/labs/threejs_playGnd/js/three.min.js"></script>
    <script src="http://brangerbriz.net/labs/threejs_playGnd/js/Detector.js"></script>
    <script src="http://threejs.org/build/three.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    
    <title>Goalemon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout">logout</a></li>
        </ul>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
